playbooks/*.retry
*.swo
*.swp
__pycache__
.mypy_cache
parsers/BUNDLE.yaml
tests/testpaths
tests/testlogs
tests/clustermanagementtoolkit
.coverage
coverage.json
htmlcov
bin
build
*.so
views/__event_reasons.yaml
views/__resource_type_index.yaml
