playbooks/*.retry
*.swo
*.swp
__pycache__
.mypy_cache
parsers/BUNDLE.yaml
tests/testpaths
tests/testlogs
tests/clustermanagementtoolkit
.coverage
coverage.json
htmlcov
bin
build
*.so
views/__event_reasons.yaml
views/__resource_type_index.yaml
views/__Container.yaml
views/APIService.apiregistration.k8s.io.yaml
views/AccessKey.storage.loft.sh.yaml
views/ApiServerSource.sources.knative.dev.yaml
views/ApmServer.apm.k8s.elastic.co.yaml
views/App.catalog.cattle.io.yaml
views/Application.argoproj.io.yaml
views/AuthorizationPolicy.security.istio.io.yaml
views/BootstrapProvider.operator.cluster.x-k8s.io.yaml
views/BroadcastJob.apps.kruise.io.yaml
views/Broker.eventing.knative.dev.yaml
views/Bundle.fleet.cattle.io.yaml
views/CDIConfig.cdi.kubevirt.io.yaml
views/CISKubeBenchReport.aquasecurity.github.io.yaml
views/CSIDriver.storage.k8s.io.yaml
views/CSIStorageCapacity.storage.k8s.io.yaml
views/CephClient.ceph.rook.io.yaml
views/CephCluster.ceph.rook.io.yaml
views/CephFilesystem.ceph.rook.io.yaml
views/CephFilesystemSubVolumeGroup.ceph.rook.io.yaml
views/Certificate.cert-manager.io.yaml
views/Certificate.networking.internal.knative.dev.yaml
views/CertificateRequest.cert-manager.io.yaml
views/CertificateRequestPolicy.policy.cert-manager.io.yaml
views/Channel.messaging.knative.dev.yaml
views/Cluster.cluster.x-k8s.io.yaml
views/Cluster.management.cattle.io.yaml
views/Cluster.postgresql.cnpg.io.yaml
views/ClusterConfigAuditReport.aquasecurity.github.io.yaml
views/ClusterImagePolicy.config.openshift.io.yaml
views/ClusterInfraAssessmentReport.aquasecurity.github.io.yaml
views/ClusterIssuer.cert-manager.io.yaml
views/ClusterNetwork.network.harvesterhci.io.yaml
views/ClusterNetwork.network.openshift.io.yaml
views/ClusterOperator.config.openshift.io.yaml
views/ClusterRbacAssessmentReport.aquasecurity.github.io.yaml
views/ClusterRole.authorization.openshift.io.yaml
views/ClusterRole.rbac.authorization.k8s.io.yaml
views/ClusterRoleBinding.authorization.openshift.io.yaml
views/ClusterRoleBinding.rbac.authorization.k8s.io.yaml
views/ClusterVulnerabilityReport.aquasecurity.github.io.yaml
views/Config.kai.scheduler.yaml
views/ConfigAuditReport.aquasecurity.github.io.yaml
views/ConfigMap.yaml
views/Configuration.serving.knative.dev.yaml
views/ConsoleCLIDownload.console.openshift.io.yaml
views/ConsolePlugin.console.openshift.io.yaml
views/ConsoleQuickStart.console.openshift.io.yaml
views/ContainerSource.sources.knative.dev.yaml
views/ControlPlaneProvider.operator.cluster.x-k8s.io.yaml
views/ControllerRevision.apps.yaml
views/CoreProvider.operator.cluster.x-k8s.io.yaml
views/CredentialsRequest.cloudcredential.openshift.io.yaml
views/CronJob.batch.yaml
views/CustomMachine.rke.cattle.io.yaml
views/CustomResourceDefinition.apiextensions.k8s.io.yaml
views/DaemonSet.apps.kruise.io.yaml
views/DaemonSet.apps.yaml
views/Deployment.apps.yaml
views/DeviceClass.resource.k8s.io.yaml
views/DockerCluster.infrastructure.cluster.x-k8s.io.yaml
views/EndpointSlice.discovery.k8s.io.yaml
views/EngineImage.longhorn.io.yaml
views/EnterpriseSearch.enterprisesearch.k8s.elastic.co.yaml
views/Event.events.k8s.io.yaml
views/Event.yaml
views/EventType.eventing.knative.dev.yaml
views/ExposedSecretReport.aquasecurity.github.io.yaml
views/FlowSchema.flowcontrol.apiserver.k8s.io.yaml
views/GameServerSet.agones.dev.yaml
views/GraphRevision.internal.kro.run.yaml
views/HTTPProxy.projectcontour.io.yaml
views/HelmChart.source.toolkit.fluxcd.io.yaml
views/HelmRelease.helm.toolkit.fluxcd.io.yaml
views/HelmRepository.source.toolkit.fluxcd.io.yaml
views/IPAMProvider.operator.cluster.x-k8s.io.yaml
views/Image.caching.internal.knative.dev.yaml
views/ImageStream.image.openshift.io.yaml
views/ImageTag.image.openshift.io.yaml
views/InMemoryChannel.messaging.knative.dev.yaml
views/InfraAssessmentReport.aquasecurity.github.io.yaml
views/InfrastructureProvider.operator.cluster.x-k8s.io.yaml
views/Ingress.networking.internal.knative.dev.yaml
views/IntegrationSink.sinks.knative.dev.yaml
views/IntegrationSource.sources.knative.dev.yaml
views/Issuer.cert-manager.io.yaml
views/JAXJob.kubeflow.org.yaml
views/Job.batch.yaml
views/JobSink.sinks.knative.dev.yaml
views/KamajiControlPlane.controlplane.cluster.x-k8s.io.yaml
views/Kibana.kibana.k8s.elastic.co.yaml
views/KnativeEventing.operator.knative.dev.yaml
views/KnativeServing.operator.knative.dev.yaml
views/KubeVirt.kubevirt.io.yaml
views/KubeadmConfig.bootstrap.cluster.x-k8s.io.yaml
views/KubeadmControlPlane.controlplane.cluster.x-k8s.io.yaml
views/KubevirtCluster.infrastructure.cluster.x-k8s.io.yaml
views/KubevirtMachine.infrastructure.cluster.x-k8s.io.yaml
views/LVMVolumeGroupNodeStatus.lvm.topolvm.io.yaml
views/LXCCluster.infrastructure.cluster.x-k8s.io.yaml
views/LXCMachine.infrastructure.cluster.x-k8s.io.yaml
views/LeaderWorkerSet.leaderworkerset.x-k8s.io.yaml
views/MPIJob.kubeflow.org.yaml
views/MXJob.kubeflow.org.yaml
views/Machine.cluster.x-k8s.io.yaml
views/MachineConfig.machineconfiguration.openshift.io.yaml
views/MachineHealthCheck.machine.openshift.io.yaml
views/MachineSet.cluster.x-k8s.io.yaml
views/Management.k0rdent.mirantis.com.yaml
views/Metric.autoscaling.internal.knative.dev.yaml
views/MiniCluster.flux-framework.org.yaml
views/ModuleRelease.deckhouse.io.yaml
views/MutatingWebhookConfiguration.admissionregistration.k8s.io.yaml
views/Namespace.yaml
views/NetworkPolicy.networking.k8s.io.yaml
views/Node.longhorn.io.yaml
views/Node.yaml
views/NodeFeature.nfd.k8s-sigs.io.yaml
views/NodeFeatureRule.nfd.k8s-sigs.io.yaml
views/OpenStackMachine.infrastructure.cluster.x-k8s.io.yaml
views/OpenTelemetryCollector.opentelemetry.io.yaml
views/OperatorCondition.operators.coreos.com.yaml
views/OperatorGroup.operators.coreos.com.yaml
views/OperatorPKI.network.operator.openshift.io.yaml
views/PaddleJob.kubeflow.org.yaml
views/Parallel.flows.knative.dev.yaml
views/PersistentVolume.yaml
views/PersistentVolumeClaim.yaml
views/PingSource.sources.knative.dev.yaml
views/Pod.yaml
views/PodAutoscaler.autoscaling.internal.knative.dev.yaml
views/PodClique.grove.io.yaml
views/PodCliqueScalingGroup.grove.io.yaml
views/PodDisruptionBudget.policy.yaml
views/PodGang.scheduler.grove.io.yaml
views/PodGroup.scheduling.volcano.sh.yaml
views/PreprovisioningImage.metal3.io.yaml
views/PriorityClass.scheduling.k8s.io.yaml
views/PriorityLevelConfiguration.flowcontrol.apiserver.k8s.io.yaml
views/Profile.tuned.openshift.io.yaml
views/Project.kargo.akuity.io.yaml
views/Project.project.openshift.io.yaml
views/PrometheusAgent.monitoring.coreos.com.yaml
views/PrometheusRule.monitoring.coreos.com.yaml
views/Promotion.kargo.akuity.io.yaml
views/PyTorchJob.kubeflow.org.yaml
views/RayCluster.ray.io.yaml
views/RbacAssessmentReport.aquasecurity.github.io.yaml
views/ReplicaSet.apps.yaml
views/ReplicationController.yaml
views/ResourceClaim.resource.k8s.io.yaml
views/ResourceQuota.yaml
views/ResourceSlice.resource.k8s.io.yaml
views/Revision.serving.knative.dev.yaml
views/Role.authorization.openshift.io.yaml
views/Role.rbac.authorization.k8s.io.yaml
views/RoleBinding.authorization.openshift.io.yaml
views/RoleBinding.rbac.authorization.k8s.io.yaml
views/Rollout.argoproj.io.yaml
views/Route.route.openshift.io.yaml
views/Route.serving.knative.dev.yaml
views/SbomReport.aquasecurity.github.io.yaml
views/ScaledJob.keda.sh.yaml
views/ScaledObject.keda.sh.yaml
views/ScheduledSparkApplication.sparkoperator.k8s.io.yaml
views/SchedulingShard.kai.scheduler.yaml
views/Secret.yaml
views/SecurityContextConstraints.security.openshift.io.yaml
views/Sequence.flows.knative.dev.yaml
views/ServerlessService.networking.internal.knative.dev.yaml
views/Service.serving.knative.dev.yaml
views/Service.yaml
views/ServiceAccount.yaml
views/ServiceMesh.services.platform.opendatahub.io.yaml
views/ServiceMonitor.monitoring.coreos.com.yaml
views/SidecarSet.apps.kruise.io.yaml
views/SinkBinding.sources.knative.dev.yaml
views/Space.cluster.loft.sh.yaml
views/Stage.kargo.akuity.io.yaml
views/StatefulSet.apps.kruise.io.yaml
views/StatefulSet.apps.yaml
views/StorageProfile.cdi.kubevirt.io.yaml
views/StorageVersionMigration.migration.k8s.io.yaml
views/Subscription.messaging.knative.dev.yaml
views/Suggestion.kubeflow.org.yaml
views/TFJob.kubeflow.org.yaml
views/TdxQuoteGenerationService.trustedservices.intel.com.yaml
views/Telemetry.telemetry.istio.io.yaml
views/TenantControlPlane.kamaji.clastix.io.yaml
views/Topology.kai.scheduler.yaml
views/Trial.kubeflow.org.yaml
views/Trigger.eventing.knative.dev.yaml
views/Tuned.tuned.openshift.io.yaml
views/UnitedDeployment.apps.kruise.io.yaml
views/Uplink.k8s.ovn.org.yaml
views/VCluster.infrastructure.cluster.x-k8s.io.yaml
views/ValidatingAdmissionPolicy.admissionregistration.k8s.io.yaml
views/ValidatingWebhookConfiguration.admissionregistration.k8s.io.yaml
views/VirtinkCluster.infrastructure.cluster.x-k8s.io.yaml
views/VirtinkMachine.infrastructure.cluster.x-k8s.io.yaml
views/VirtualMachine.kubevirt.io.yaml
views/VirtualMachineInstance.kubevirt.io.yaml
views/VirtualMachineInstanceReplicaSet.kubevirt.io.yaml
views/VirtualMachineTemplateVersion.harvesterhci.io.yaml
views/VirtualService.networking.istio.io.yaml
views/VulnerabilityReport.aquasecurity.github.io.yaml
views/Workflow.argoproj.io.yaml
views/Workload.kueue.x-k8s.io.yaml
views/XGBoostJob.kubeflow.org.yaml
