---
kind: "Cluster"
api_family: "management.cattle.io"
default_command: "clusters.management.cattle.io"
command:
  - "clusters.mgmnt.cattle"
  - "cluster.mgmnt.cattle"
  - "clrs.mgmnt.cattle"
  - "clr.mgmnt.cattle"
listview:
  name: "Clusters"
  group: "Rancher"
  field_indexes:
    Normal:
      fields: ["name", "display_name", "provider", "version", "platform",
               "node_count", "condition_ready", "age"]
  fields:
    {%- for line in field_condition_ready.split("\n") %}
    {{ line }}
    {%- endfor %}
    display_name:
      header: "Display Name:"
      path: "spec#displayName"
      default: "<unset>"
      type: "str"
    node_count:
      header: "Node Count:"
      path: "status#nodeCount"
      default: "<unset>"
      type: "int"
      formatter: "numerical"
      align: "right"
    platform:
      header: "Platform:"
      path: "status#version#platform"
      default: "<unset>"
      type: "str"
    provider:
      header: "Provider:"
      path: "status#provider"
      default: "<unset>"
      type: "str"
    version:
      header: "Version:"
      path: "status#version#gitVersion"
      default: "<unset>"
      type: "str"
      formatting:
        field_colors:
          - type: "version"
infoview:
  name: "Cluster Info"
  infopad:
    row_indexes:
      Normal:
        fields: ["display_name", "fleet_workspace",
                 "provider", "platform",
                 "node_count", "resources_header",
                 "resources_capacity_header", "resources_capacity_cpu",
                 "resources_capacity_memory", "resources_capacity_pods",
                 "resources_requested_header", "resources_requested_cpu",
                 "resources_requested_memory", "resources_requested_pods",
                 "version", "driver",
                 "condition_ready"]
    rows:
      {%- for line in row_condition_ready.split("\n") %}
      {{ line }}
      {%- endfor %}
      display_name:
        header: [["Display Name:", ["main", "infoheader"]]]
        path: "spec#displayName"
        default: "<unset>"
        type: "str"
      docker_root_dir:
        header: [["Docker Root Directory:", ["main", "infoheader"]]]
        path: "spec#dockerRootDir"
        default: "<unset>"
        type: "str"
        formatting:
          field_colors:
            - type: "path"
      driver:
        header: [["Driver:", ["main", "infoheader"]]]
        path: "status#driver"
        default: "<unset>"
        type: "bool"
      fleet_workspace:
        header: [["F", ["main", "infoheader_shortcut"]],
                 ["leet Workspace:", ["main", "infoheader"]]]
        path: "spec#fleetWorkspaceName"
        default: "<unset>"
        type: "str"
      node_count:
        header: [["Node Count:", ["main", "infoheader"]]]
        path: "status#nodeCount"
        default: "<unset>"
        type: "int"
        formatter: "numerical"
      platform:
        header: [["Platform:", ["main", "infoheader"]]]
        path: "status#version#platform"
        default: "<unset>"
        type: "str"
      provider:
        header: [["Provider:", ["main", "infoheader"]]]
        path: "status#provider"
        default: "<unset>"
        type: "str"
      resources_capacity_cpu:
        header: [["    CPU:", ["main", "infoheader"]]]
        paths:
          - path: [["status#allocatable#cpu"], ["status#capacity#cpu"]]
            pathtype: "tuple"
            default: ["<unset>"]
        formatter: "list"
        formatting:
          field_formatters:
            - "numerical_with_units"
      resources_capacity_header:
        header: [["  Allocatable / Capacity:", ["main", "infoheader"]]]
      resources_capacity_memory:
        header: [["    Memory:", ["main", "infoheader"]]]
        paths:
          - path: [["status#allocatable#memory"], ["status#capacity#memory"]]
            pathtype: "tuple"
            default: ["<unset>"]
        formatter: "list"
        formatting:
          field_formatters:
            - "numerical_with_units"
      resources_capacity_pods:
        header: [["    Pods:", ["main", "infoheader"]]]
        paths:
          - path: [["status#allocatable#pods"], ["status#capacity#pods"]]
            pathtype: "tuple"
            default: ["<unset>"]
        formatter: "list"
        formatting:
          field_formatters:
            - "numerical_with_units"
      resources_requested_cpu:
        header: [["    CPU:", ["main", "infoheader"]]]
        paths:
          - path: [["status#requested#cpu"], ["status#limits#cpu"]]
            pathtype: "tuple"
            default: ["<unset>"]
        formatter: "list"
        formatting:
          field_formatters:
            - "numerical_with_units"
      resources_header:
        header: [["Resources (Requested / Limits):", ["main", "infoheader"]]]
      resources_requested_header:
        header: [["  Requested / Limits:", ["main", "infoheader"]]]
      resources_requested_memory:
        header: [["    Memory:", ["main", "infoheader"]]]
        paths:
          - path: [["status#requested#memory"], ["status#limits#memory"]]
            pathtype: "tuple"
            default: ["<unset>"]
        formatter: "list"
        formatting:
          field_formatters:
            - "numerical_with_units"
      resources_requested_pods:
        header: [["    Pods:", ["main", "infoheader"]]]
        paths:
          - path: [["status#requested#pods"], ["status#limits#pods"]]
            pathtype: "tuple"
            default: ["<unset>"]
        formatter: "list"
        formatting:
          field_formatters:
            - "numerical_with_units"
      version:
        header: [["Version:", ["main", "infoheader"]]]
        path: "status#version#gitVersion"
        default: "<unset>"
        type: "str"
        formatting:
          field_colors:
            - type: "version"
  shortcuts:
    "Open Fleet Workspace":
      key: "f"
      modifier: "shift"
      read_only: true
      helptext: "Open info page for Fleet Workspace"
      action: "call"
      action_call: "resourceinfodispatch_with_lookup"
      action_args:
        _pass_obj: true
        kind: "FleetWorkspace"
        api_family: "management.cattle.io"
        name_path: "spec#fleetWorkspaceName"
