---
kind: "Configuration"
api_family: "serving.knative.dev"
default_command: "configurations.serving.knative.dev"
command:
  - "configurations.knative"
  - "configuration.knative"
  - "confs.knative"
  - "conf.knative"
listview:
  name: "Configurations"
  group: "Knative"
  field_indexes:
    Normal:
      fields: ["namespace", "name", "controller", "condition_ready", "age",
               "reason"]
      sortcolumn: "namespace"
  fields:
    {%- for line in field_condition_ready.split("\n") %}
    {{ line }}
    {%- endfor %}
    {%- for line in field_controller.split("\n") %}
    {{ line }}
    {%- endfor %}
    reason:
      header: "Reason:"
      paths:
        - path: "status#conditions"
          pathtype: "items"
          subpath: "message"
          when:
            - key: "type"
              eq: "Ready"
      type: "str"
infoview:
  name: "Configuration Info"
  infopad:
    row_indexes:
      Normal:
        fields: ["controller", "latest_created_revision",
                 "latest_ready_revision", "condition_ready", "reason"]
    rows:
      {%- for line in row_condition_ready.split("\n") %}
      {{ line }}
      {%- endfor %}
      {%- for line in row_controller.split("\n") %}
      {{ line }}
      {%- endfor %}
      latest_created_revision:
        header: [["Latest Crea", ["main", "infoheader"]],
                 ["t", ["main", "infoheader_shortcut"]],
                 ["ed Revision:", ["main", "infoheader"]]]
        path: "status#latestCreatedRevisionName"
        type: "str"
      latest_ready_revision:
        header: [["Latest ", ["main", "infoheader"]],
                 ["R", ["main", "infoheader_shortcut"]],
                 ["eady Revision:", ["main", "infoheader"]]]
        path: "status#latestReadyRevisionName"
        type: "str"
      reason:
        header: [["Reason:", ["main", "infoheader"]]]
        paths:
          - path: "status#conditions"
            pathtype: "items"
            subpath: "message"
            when:
              - key: "type"
                eq: "Ready"
        type: "list"
        formatter: "list"
  shortcuts:
    {%- for line in shortcut_controller.split("\n") %}
    {{ line }}
    {%- endfor %}
    "Open latest created revision":
      key: "t"
      read_only: true
      helptext: "Open info page for latest created Revision"
      action: "call"
      action_call: "resourceinfodispatch_with_lookup"
      action_args:
        _pass_obj: true
        kind: "Revision"
        api_family: "serving.knative.dev"
        name_path: "status#latestCreatedRevisionName"
        namespace_path: "metadata#namespace"
    "Open latest ready revision":
      key: "r"
      modifier: "shift"
      read_only: true
      helptext: "Open info page for latest ready Revision"
      action: "call"
      action_call: "resourceinfodispatch_with_lookup"
      action_args:
        _pass_obj: true
        kind: "Revision"
        api_family: "serving.knative.dev"
        name_path: "status#latestReadyRevisionName"
        namespace_path: "metadata#namespace"
    "View Pod Template":
      key: "p"
      modifier: "shift"
      read_only: true
      helptext: "Show Pod Template"
      action: "call"
      action_call: "view_yaml"
      action_args:
        title: "Pod Template"
        _named_title: true
        _pass_obj: true
        path: "spec#template"
