---
kind: "DaemonSet"
api_family: "apps.kruise.io"
default_command: "daemonsets.apps.kruise.io"
command:
  - "kruiseds"
listview:
  name: "Daemon Sets"
  group: "Kruise"
  field_indexes:
    Wide:
      fields: ["namespace", "name", "controller",
               "desired_replicas", "current_replicas",
               "ready_replicas", "uptodate_replicas", "available_replicas",
               "misscheduled_replicas", "paused", "age"]
      sortcolumn: "namespace"
    Normal:
      fields: ["namespace", "name", "desired_replicas", "current_replicas",
               "ready_replicas", "uptodate_replicas", "available_replicas",
               "misscheduled_replicas", "paused", "age"]
      sortcolumn: "namespace"
  fields:
    available_replicas:
      header: "Available:"
      paths:
        - path: ["status#numberAvailable", "status#currentNumberScheduled"]
          pathtype: "comparison"
          default: [0, 0]
      formatter: "value_mapper"
      formatting:
        mapping:
          ranges:
            - min: 0
              max: 1
              field_colors:
                - context: "main"
                  type: "status_ok"
            - default: true
              field_colors:
                - context: "main"
                  type: "status_pending"
      align: "right"
    {%- for line in field_controller.split("\n") %}
    {{ line }}
    {%- endfor %}
    current_replicas:
      header: "Current:"
      paths:
        - path: ["status#currentNumberScheduled",
                 "status#desiredNumberScheduled"]
          pathtype: "comparison"
          default: [0, 0]
      formatter: "value_mapper"
      formatting:
        mapping:
          ranges:
            - min: 0
              max: 1
              field_colors:
                - context: "main"
                  type: "status_ok"
            - default: true
              field_colors:
                - context: "main"
                  type: "status_not_ok"
      align: "right"
    desired_replicas:
      header: "Desired:"
      path: "status#desiredNumberScheduled"
      default: 0
      type: "int"
      formatter: "numerical"
      align: "right"
    misscheduled_replicas:
      header: "Misscheduled:"
      path: "status#numberMisscheduled"
      default: 0
      type: "raw"
      formatter: "value_mapper"
      formatting:
        mapping:
          ranges:
            - min: 0
              max: 1
              field_colors:
                - context: "main"
                  type: "status_ok"
            - default: true
              field_colors:
                - context: "main"
                  type: "status_warning"
      align: "right"
    paused:
      header: "Paused:"
      path: "spec#updateStrategy#rollingUpdate#paused"
      default: "False"
      type: "str"
      formatter: "value_mapper"
      formatting:
        mapping:
          mappings:
            "True":
              field_colors:
                - context: "main"
                  type: "status_pending"
            "False":
              field_colors:
                - context: "main"
                  type: "status_ok"
    ready_replicas:
      header: "Ready:"
      paths:
        - path: ["status#numberReady", "status#currentNumberScheduled"]
          pathtype: "comparison"
          default: [0, 0]
      formatter: "value_mapper"
      formatting:
        mapping:
          ranges:
            - min: 0
              max: 1
              field_colors:
                - context: "main"
                  type: "status_ok"
            - min: -1
              max: 0
              field_colors:
                - context: "main"
                  type: "status_pending"
            - default: true
              field_colors:
                - context: "main"
                  type: "status_not_ok"
      align: "right"
    uptodate_replicas:
      header: "Up to Date:"
      paths:
        - path: ["status#updatedNumberScheduled",
                 "status#currentNumberScheduled"]
          pathtype: "comparison"
          default: [0, 0]
      formatter: "value_mapper"
      formatting:
        mapping:
          ranges:
            - min: 0
              max: 1
              field_colors:
                - context: "main"
                  type: "status_ok"
            - default: true
              field_colors:
                - context: "main"
                  type: "status_pending"
      align: "right"
  actions:
    actionlist:
      "Delete resource":
        description: "Delete resource"
        category: "Resource Level"
        confirm: true
        actionfunc: "delete_resource"
      "Pause resource (Rollout)":
        description: "Pause resource"
        category: "Resource Level"
        metadata: [["Strategy: Rollout", ["windowwidget", "description"]]]
        confirm: true
        actionfunc: "patch_resource"
        extravars:
          action_str: "Pausing rollout"
          args:
            patch:
              spec:
                updateStrategy:
                  rollingUpdate:
                    paused: true
            strategic_merge: false
      "Resume resource (Rollout)":
        description: "Resume resource"
        category: "Resource Level"
        metadata: [["Strategy: Rollout", ["windowwidget", "description"]]]
        confirm: true
        actionfunc: "patch_resource"
        extravars:
          action_str: "Resuming rollout"
          args:
            patch:
              spec:
                updateStrategy:
                  rollingUpdate:
                    paused: false
            strategic_merge: false
      "Restart resource (Rollout)":
        description: "Restart resource"
        category: "Resource Level"
        metadata: [["Strategy: Rollout", ["windowwidget", "description"]]]
        confirm: true
        actionfunc: "restart_resource_rollout"
infoview:
  name: "Daemon Set Info"
  infopad:
    row_indexes:
      Normal:
        fields: ["controller", "selector",
                 "replicas", "burst_replicas", "update_strategy",
                 "rolling_update_selector"]
    rows:
      burst_replicas:
        header: [["Burst Replicas:", ["main", "infoheader"]]]
        path: "spec#burstReplicas"
        default: "<unset>"
        type: "int"
        formatter: "numerical"
      {%- for line in row_controller.split("\n") %}
      {{ line }}
      {%- endfor %}
      minimum_ready_seconds:
        header: [["Minimum Ready:", ["main", "infoheader"]]]
        path: "spec#minReadySeconds"
        default: 0
        type: "int"
        formatter: "numerical"
        formatting:
          unit: "s"
      replicas:
        header: [["Replicas:", ["main", "infoheader"]]]
        paths:
          - path: [["status#currentNumberScheduled"],
                   " Current",
                   ["status#desiredNumberScheduled"],
                   " Desired",
                   ["status#updatedNumberScheduled"],
                   " Up to Date",
                   ["status#numberAvailable"],
                   " Available",
                   ["status#numberMisscheduled"],
                   " Misscheduled"]
            pathtype: "tuple"
            default: [0, "", 0, "", 0, "", 0, "", 0, ""]
        formatter: "list"
        formatting:
          field_colors:
            - type: "numerical"
            - type: "generic"
            - type: "numerical"
            - type: "generic"
            - type: "numerical"
            - type: "generic"
            - type: "numerical"
            - type: "generic"
            - type: "numerical"
            - type: "generic"
          field_separators:
            - type: "no_pad"
            - type: "fraction_spaced"
            - type: "no_pad"
            - type: "fraction_spaced"
            - type: "no_pad"
            - type: "fraction_spaced"
            - type: "no_pad"
            - type: "fraction_spaced"
            - type: "no_pad"
      rolling_update_selector:
        header: [["Rolling Update Selector:", ["main", "infoheader"]]]
        paths:
          - path: "spec#updateStrategy#rollingUpdate#selector#matchLabels"
          - path: "spec#selector"
            pathtype: "obj"
            default: "<none>"
        formatter: "selector"
      selector:
        header: [["Selec", ["main", "infoheader"]],
                 ["t", ["main", "infoheader_shortcut"]],
                 ["or:", ["main", "infoheader"]]]
        paths:
          - path: "spec#selector"
            pathtype: "obj"
            default: "<none>"
        formatter: "selector"
      update_strategy:
        header: [["Update Strategy:", ["main", "infoheader"]]]
        paths:
          - path: [["spec#updateStrategy#type"],
                   ":",
                   ["spec#updateStrategy#rollingUpdate#rollingUpdateType"],
                   " (", "Max Surge: ",
                   ["spec#updateStrategy#rollingUpdate#maxSurge"],
                   "Max Unavailable: ",
                   ["spec#updateStrategy#rollingUpdate#maxUnavailable"],
                   "Partition: ",
                   ["spec#updateStrategy#rollingUpdate#partition"],
                   "Paused: ",
                   ["spec#updateStrategy#rollingUpdate#paused"], ")"]
            pathtype: "tuple"
            when:
              - key: "spec#updateStrategy#type"
                eq: "RollingUpdate"
            default: ["RollingUpdate", ":", "Standard",
                      " (", "Max Surge: ", "<unset>",
                      "Max Unavailable: ", "<unset>",
                      "Partition: ", "<unset>", "Paused: ", false, ")"]
          - path: [["spec#updateStrategy#type"]]
            pathtype: "tuple"
            when:
              - key: "spec#updateStrategy#type"
                eq: "Recreate"
        formatter: "list"
        formatting:
          field_colors:
            - type: "generic"
            - type: "generic"
            - type: "generic"
            - type: "generic"
            - context: "main"
              type: "infoheader"
            - type: "numerical"
            - context: "main"
              type: "infoheader"
            - type: "numerical"
            - context: "main"
              type: "infoheader"
            - type: "numerical"
            - context: "main"
              type: "infoheader"
            - type: "generic"
            - type: "generic"
          field_separators:
            - type: "no_pad"
            - type: "no_pad"
            - type: "no_pad"
            - type: "no_pad"
            - type: "no_pad"
            - type: "list"
            - type: "no_pad"
            - type: "list"
            - type: "no_pad"
            - type: "list"
            - type: "no_pad"
            - type: "no_pad"
          field_formatters:
            - ""
            - ""
            - ""
            - ""
            - ""
            - "numerical_with_units"
            - ""
            - "numerical_with_units"
            - ""
            - ""
            - ""
            - ""
            - ""
  {%- for line in listpad_pod_spec_selector_matchlabels.split("\n") %}
  {{ line }}
  {%- endfor %}
  shortcuts:
    "Selector":
      key: "t"
      read_only: true
      helptext: "Show selector"
      widget: "windowwidget"
      widget_args:
        title: "Selector:"
        itemgetter: "get_selector_list"
        itemgetter_args:
          path: "spec#selector"
    {%- for line in shortcut_controller.split("\n") %}
    {{ line }}
    {%- endfor %}
    "Pod template":
      key: "t"
      modifier: "shift"
      read_only: true
      helptext: "Show Pod template"
      action: "call"
      action_call: "view_yaml"
      action_args:
        title: "Pod template"
        _pass_obj: true
        path: "spec#template"
