---
kind: "ImageTag"
api_family: "image.openshift.io"
default_command: "imagetags"
command:
  - "imgtags"
  - "imgtag"
  - "imagetags.openshift"
  - "imagetag.openshift"
  - "osimagetags"
  - "osimagetag"
  - "osimgtags"
  - "osimgtag"
listview:
  name: "Image Tags"
  group: "OpenShift"
  field_indexes:
    Wide:
      fields: ["namespace", "name", "controller",
               "spec", "import_policy", "tag", "version", "age", "display_name"]
      sortcolumn: "namespace"
    Normal:
      fields: ["namespace", "name", "spec", "import_policy", "tag", "age"]
      sortcolumn: "namespace"
  fields:
    {%- for line in field_controller.split("\n") %}
    {{ line }}
    {%- endfor %}
    display_name:
      header: "Display Name:"
      path: "spec#annotations#openshift.io/display-name"
      default: "<unset>"
      type: "str"
    import_policy:
      header: "Import Policy:"
      path: "spec#importPolicy#importMode"
      type: "str"
    spec:
      header: "Spec:"
      paths:
        - path: "spec#importPolicy"
          pathtype: "substitution"
          when:
            - key: "scheduled"
              eq: true
          substitute: "Scheduled"
        - path: "status"
          pathtype: "substitution"
          when:
            - key: "tag"
              eq: "latest"
          substitute: "Track"
        - path: "status"
          pathtype: "substitution"
          when:
            - key: "tag"
              notmissing: true
            - key: "tag"
              ne: "latest"
          substitute: "Tag"
      default: ["<unknown>"]
      formatter: "list"
    tag:
      header: "Tag:"
      path: "status#tag"
      type: "str"
      formatter: "version"
    version:
      header: "Version:"
      path: "spec#annotations#version"
      default: "<unset>"
      type: "str"
      formatter: "version"
infoview:
  name: "Image Tag Info"
  infopad:
    row_indexes:
      Normal:
        fields: ["display_name", "controller", "description",
                 "provider_display_name", "from", "import_policy",
                 "reference_policy", "spec", "tag", "version"]
    rows:
      {%- for line in row_controller.split("\n") %}
      {{ line }}
      {%- endfor %}
      description:
        header: [["D", ["main", "infoheader_shortcut"]],
                 ["escription:", ["main", "infoheader"]]]
        path: "spec#annotations#description"
        default: "<unset>"
        type: "str"
      display_name:
        header: [["Display Name:", ["main", "infoheader"]]]
        path: "spec#annotations#openshift.io/display-name"
        default: "<unset>"
        type: "str"
      from:
        header: [["From:", ["main", "infoheader"]]]
        paths:
          - path: [["spec#from#kind"], "://", ["spec#from#name"]]
            pathtype: "tuple"
        formatter: "uri"
      import_policy:
        header: [["Import Policy:", ["main", "infoheader"]]]
        path: "spec#importPolicy#importMode"
        type: "str"
      provider_display_name:
        header: [["Provider Display Name:", ["main", "infoheader"]]]
        path: "spec#annotations#openshift.io/provider-display-name"
        default: "<unset>"
        type: "str"
      reference_policy:
        header: [["Reference Policy:", ["main", "infoheader"]]]
        path: "spec#referencePolicy#type"
        default: "<unset>"
        type: "str"
      spec:
        header: [["Spec:", ["main", "infoheader"]]]
        paths:
          - path: "spec#importPolicy"
            pathtype: "substitution"
            when:
              - key: "scheduled"
                eq: true
            substitute: "Scheduled"
          - path: "status"
            pathtype: "substitution"
            when:
              - key: "tag"
                eq: "latest"
            substitute: "Track"
          - path: "status"
            pathtype: "substitution"
            when:
              - key: "tag"
                notmissing: true
              - key: "tag"
                ne: "latest"
            substitute: "Tag"
        default: ["<unknown>"]
        formatter: "list"
      tag:
        header: [["Tag:", ["main", "infoheader"]]]
        path: "status#tag"
        type: "str"
        formatter: "version"
      version:
        header: [["Version:", ["main", "infoheader"]]]
        path: "spec#annotations#version"
        default: "<unset>"
        type: "str"
        formatter: "version"
  shortcuts:
    {%- for line in shortcut_controller.split("\n") %}
    {{ line }}
    {%- endfor %}
    "Show Description":
      key: "d"
      modifier: "shift"
      read_only: true
      helptext: "Show description"
      widget: "windowwidget"
      widget_args:
        title: "Description:"
        itemgetter: "get_strings_from_string"
        itemgetter_args:
          path: "spec#annotations#description"
          unescape_newlines: true
    "Docker Image Layers":
      key: "i"
      modifier: "shift"
      read_only: true
      helptext: "List Docker Image Layers"
      widget: "windowwidget"
      widget_args:
        title: "Docker Image Layers:"
        headers: ["Name:", "Size:", "Media Type:"]
        itemgetter: "get_list_fields"
        itemgetter_args:
          path: "image#dockerImageLayers"
          # pass_ref: true
          fields:
            - "name"
            - "size"
            - "mediaType"
    "Docker Image Metadata":
      key: "d"
      read_only: true
      helptext: "Show Docker Image Metadata"
      action: "call"
      action_call: "view_yaml"
      action_args:
        title: "Docker Image Metadata"
        _pass_obj: true
        path: "image#dockerImageMetadata"
