---
kind: "KubeadmConfig"
api_family: "bootstrap.cluster.x-k8s.io"
default_command: "kubeadmconfigs"
command:
  - "kubeadmcfgs"
  - "kubeadmcfg"
listview:
  name: "Kubeadm Configs"
  group: "Cluster Configuration"
  field_indexes:
    Wide:
      fields: ["namespace", "name", "controller", "cluster", "paused",
               "condition_ready", "age"]
      sortcolumn: "namespace"
    Normal:
      fields: ["namespace", "name", "cluster", "condition_ready", "age"]
      sortcolumn: "namespace"
  fields:
    cluster:
      header: "Cluster:"
      path: "metadata#labels#cluster.x-k8s.io/cluster-name"
      default: "<unset>"
      type: "str"
    {%- for line in field_condition_ready.split("\n") %}
    {{ line }}
    {%- endfor %}
    {%- for line in field_controller.split("\n") %}
    {{ line }}
    {%- endfor %}
    paused:
      header: "Paused:"
      paths:
        - path: "status#conditions"
          pathtype: "items"
          subpath: "status"
          when:
            - key: "type"
              eq: "Paused"
          default: ["<unset>"]
      type: "str"
      formatter: "value_mapper"
      formatting:
        mapping:
          mappings:
            "True":
              field_colors:
                - context: "main"
                  type: "status_pending"
            "False":
              field_colors:
                - context: "main"
                  type: "status_ok"
            "<unset>":
              field_colors:
                - context: "types"
                  type: "unset"
infoview:
  name: "Kubeadm Config Info"
  infopad:
    row_indexes:
      Normal:
        fields: ["cluster", "controller", "data_secret_name",
                 "condition_paused", "condition_ready"]
    rows:
      cluster:
        header: [["Cl", ["main", "infoheader"]],
                 ["u", ["main", "infoheader_shortcut"]],
                 ["ster:", ["main", "infoheader"]]]
        path: "metadata#labels#cluster.x-k8s.io/cluster-name"
        type: "str"
      {%- for line in row_condition_ready.split("\n") %}
      {{ line }}
      {%- endfor %}
      {%- for line in row_controller.split("\n") %}
      {{ line }}
      {%- endfor %}
      data_secret_name:
        header: [["Data ", ["main", "infoheader"]],
                 ["S", ["main", "infoheader_shortcut"]],
                 ["ecret Name:", ["main", "infoheader"]]]
        path: "status#dataSecretName"
        default: "<none>"
        type: "str"
      condition_paused:
        header: [["Paused:", ["main", "infoheader"]]]
        paths:
          - path: "status#conditions"
            pathtype: "items"
            subpath: "status"
            when:
              - key: "type"
                eq: "Paused"
            default: ["<unset>"]
        type: "str"
        formatter: "value_mapper"
        formatting:
          mapping:
            mappings:
              "True":
                field_colors:
                  - context: "main"
                    type: "status_pending"
              "False":
                field_colors:
                  - context: "main"
                    type: "status_ok"
              "<unset>":
                field_colors:
                  - context: "types"
                    type: "unset"
  listpad:
    listgetter: "listgetter_path"
    listgetter_args:
      path: "spec#files"
    infogetter: "generic_infogetter"
    on_activation:
      call: "resourceinfodispatch"
      obj_path: "content"
      title_path: "path"
      kind: "__ResourceView"
      formatter: "identify"
    field_indexes:
      Normal:
        fields: ["path", "owner", "permissions"]
        sortcolumn: "path"
    fields:
      owner:
        header: "Owner:"
        path: "owner"
        default: "<unset>"
        type: "str"
      path:
        header: "Path:"
        path: "path"
        default: "<unset>"
        type: "str"
        formatting:
          field_colors:
            - type: "path"
      permissions:
        header: "Permissions:"
        path: "permissions"
        default: "<unset>"
        type: "str"
        formatter: "numerical"
        align: "right"
  shortcuts:
    "Open Cluster":
      key: "u"
      read_only: true
      helptext: "Open info page for Cluster"
      action: "call"
      action_call: "resourceinfodispatch_with_lookup"
      action_args:
        _pass_obj: true
        kind: "Cluster"
        api_family: "cluster.x-k8s.io"
        namespace_path: "metadata#namespace"
        name_path: "metadata#labels#cluster.x-k8s.io/cluster-name"
    {%- for line in shortcut_controller.split("\n") %}
    {{ line }}
    {%- endfor %}
    "Open Secret":
      key: "s"
      modifier: "shift"
      read_only: true
      helptext: "Open info page for Secret"
      action: "call"
      action_call: "resourceinfodispatch_with_lookup"
      action_args:
        _pass_obj: true
        kind: "Secret"
        namespace_path: "metadata#namespace"
        name_path: "status#dataSecretName"
    "View cluster configuration":
      key: "o"
      read_only: true
      helptext: "Show cluster configuration"
      action: "call"
      action_call: "view_yaml"
      action_args:
        title: "Cluster Configuration"
        _pass_obj: true
        path: "spec#clusterConfiguration"
    "View init configuration":
      key: "i"
      read_only: true
      helptext: "Show init configuration"
      action: "call"
      action_call: "view_yaml"
      action_args:
        title: "Init Configuration"
        _pass_obj: true
        path: "spec#initConfiguration"
