---
kind: "LXCCluster"
api_family: "infrastructure.cluster.x-k8s.io"
default_command: "lxcclusters"
command:
  - "lxcclrs"
  - "lxcclr"
listview:
  name: "LXC Clusters"
  group: "Cluster Configuration"
  field_indexes:
    Wide:
      fields: ["namespace", "name", "controller", "cluster",
               "control_plane_endpoint", "condition_ready", "age"]
      sortcolumn: "namespace"
    Normal:
      fields: ["namespace", "name", "cluster",
               "control_plane_endpoint", "condition_ready", "age"]
      sortcolumn: "namespace"
  fields:
    cluster:
      header: "Cluster:"
      path: "metadata#labels#cluster.x-k8s.io/cluster-name"
      default: "<unset>"
      type: "str"
    {%- for line in field_condition_ready.split("\n") %}
    {{ line }}
    {%- endfor %}
    {%- for line in field_controller.split("\n") %}
    {{ line }}
    {%- endfor %}
    control_plane_endpoint:
      header: "Control Plane Endpoint:"
      paths:
        - path: [["spec#controlPlaneEndpoint#host"],
                 ["spec#controlPlaneEndpoint#port"]]
          pathtype: "tuple"
      default: ["<unset>"]
      formatter: "list"
      formatting:
        field_colors:
          - type: "address"
          - type: "port"
        field_separators:
          - type: "port"
        field_formatters:
          - "address"
          - ""
infoview:
  name: "LXC Cluster Info"
  infopad:
    row_indexes:
      Normal:
        fields: ["controller", "control_plane_endpoint", "secret",
                 "unprivileged", "condition_ready"]
    rows:
      {%- for line in row_condition_ready.split("\n") %}
      {{ line }}
      {%- endfor %}
      {%- for line in row_controller.split("\n") %}
      {{ line }}
      {%- endfor %}
      control_plane_endpoint:
        header: [["Control Plane Endpoint:", ["main", "infoheader"]]]
        paths:
          - path: [["spec#controlPlaneEndpoint#host"],
                   ["spec#controlPlaneEndpoint#port"]]
            pathtype: "tuple"
        default: ["<unset>"]
        formatter: "list"
        formatting:
          field_colors:
            - type: "address"
            - type: "port"
          field_separators:
            - type: "port"
          field_formatters:
            - "address"
            - ""
      secret:
        header: [["S", ["main", "infoheader_shortcut"]],
                 ["ecret:", ["main", "infoheader"]]]
        path: "spec#secretRef#name"
        default: "<none>"
        type: "str"
      unprivileged:
        header: [["Unprivileged:", ["main", "infoheader"]]]
        path: "spec#unprivileged"
        default: "<none>"
        type: "bool"
  shortcuts:
    {%- for line in shortcut_controller.split("\n") %}
    {{ line }}
    {%- endfor %}
    "Open Secret":
      key: "s"
      modifier: "shift"
      read_only: true
      helptext: "Open info page for Secret"
      action: "call"
      action_call: "resourceinfodispatch_with_lookup"
      action_args:
        _pass_obj: true
        kind: "Secret"
        namespace_path: "metadata#namespace"
        name_path: "spec#secretRef#name"
