---
kind: "Metric"
api_family: "autoscaling.internal.knative.dev"
default_command: "metrics.autoscaling.internal.knative.dev"
command:
  - "metric.autoscaling.internal.knative.dev"
  - "metrics.knative"
  - "metric.knative"
  - "knmetrics"
  - "knmetric"
listview:
  name: "Metrics"
  group: "Knative"
  field_indexes:
    Normal:
      fields: ["namespace", "name", "controller",
               "condition_ready", "age", "reason"]
  fields:
    {%- for line in field_condition_ready.split("\n") %}
    {{ line }}
    {%- endfor %}
    {%- for line in field_controller.split("\n") %}
    {{ line }}
    {%- endfor %}
    reason:
      header: "Reason:"
      paths:
        - path: "status#conditions"
          pathtype: "items"
          subpath: "message"
          when:
            - key: "type"
              eq: "Ready"
      type: "str"
infoview:
  name: "Metric Info"
  infopad:
    row_indexes:
      Normal:
        fields: ["controller", "scrape_target", "panic_window",
                 "stable_window", "condition_ready", "reason"]
    rows:
      {%- for line in row_condition_ready.split("\n") %}
      {{ line }}
      {%- endfor %}
      {%- for line in row_controller.split("\n") %}
      {{ line }}
      {%- endfor %}
      panic_window:
        header: [["Panic Window:", ["main", "infoheader"]]]
        path: "spec#panicWindow"
        type: "int"
        formatter: "numerical"
      reason:
        header: [["Reason:", ["main", "infoheader"]]]
        paths:
          - path: "status#conditions"
            pathtype: "items"
            subpath: "message"
            when:
              - key: "type"
                eq: "Ready"
        type: "list"
        formatter: "list"
      scrape_target:
        header: [["Scrape Target:", ["main", "infoheader"]]]
        path: "spec#scrapeTarget"
        type: "str"
      stable_window:
        header: [["Stable Window:", ["main", "infoheader"]]]
        path: "spec#stableWindow"
        type: "int"
        formatter: "numerical"
  shortcuts:
    {%- for line in shortcut_controller.split("\n") %}
    {{ line }}
    {%- endfor %}
