---
kind: "ServiceMonitor"
api_family: "monitoring.coreos.com"
default_command: "servicemonitors"
command:
  - "svcmons"
  - "svcmon"
listview:
  name: "Service Monitors"
  group: "Observability"
  field_indexes:
    Normal:
      fields: ["namespace", "name", "controller", "age"]
      sortcolumn: "namespace"
  fields:
    {%- for line in field_controller.split("\n") %}
    {{ line }}
    {%- endfor %}
infoview:
  name: "Service Monitor Info"
  infopad:
    row_indexes:
      Normal:
        fields: ["controller", "job_label", "selector",
                 "namespace_selector", "attach_metadata_header",
                 "attach_metadata_node"]
    rows:
      attach_metadata_header:
        header: [["Attach Metadata:", ["main", "infoheader"]]]
      attach_metadata_node:
        header: [["  Node:", ["main", "infoheader"]]]
        path: "spec#attachMetadata#node"
        default: "<unset>"
        type: "bool"
      {%- for line in row_controller.split("\n") %}
      {{ line }}
      {%- endfor %}
      job_label:
        header: [["Job Label:", ["main", "infoheader"]]]
        path: "spec#jobLabel"
        default: "<unset>"
        type: "str"
      namespace_selector:
        header: [["Namespace Selector:", ["main", "infoheader"]]]
        path: "spec#namespaceSelector#matchNames"
        default: ["<unset>"]
        type: "raw"
        formatter: "list"
      selector:
        header: [["La", ["main", "infoheader"]],
                 ["b", ["main", "infoheader_shortcut"]],
                 ["el Selector:", ["main", "infoheader"]]]
        paths:
          - path: ["spec#selector#matchLabels"]
            pathtype: "key_value"
        formatter: "list"
        formatting:
          field_colors:
            - type: "key"
            - type: "value"
          field_separators:
            - type: "selector"
  {%- for line in listpad_pod_spec_selector_matchlabels.split("\n") %}
  {{ line }}
  {%- endfor %}
  shortcuts:
    {%- for line in shortcut_controller.split("\n") %}
    {{ line }}
    {%- endfor %}
    "Label Selector":
      key: "b"
      read_only: true
      helptext: "Show label selector"
      widget: "windowwidget"
      widget_args:
        title: "Label Selector:"
        headers: ["Key:", "Value:"]
        itemgetter: "get_key_value"
        itemgetter_args:
          path: "spec#selector#matchLabels"
    "Service Monitor Endpoints":
      key: "s"
      modifier: "shift"
      read_only: true
      helptext: "List Service Monitor endpoints"
      widget: "windowwidget"
      widget_args:
        title: "Service Monitor Endpoints:"
        headers: ["Port:", "Target Port:", "Scheme:", "Path:", "Interval:"]
        selectable: true
        itemgetter: "get_list_fields"
        itemgetter_args:
          path: "spec#endpoints"
          fields:
            - "port"
            - "targetPort"
            - "scheme"
            - "path"
            - "interval"
          pass_ref: true
        # This isn't supported for now
        sortcolumn: "namespace"
      action: "call"
      action_call: "resourceinfodispatch_from_selection"
      action_args:
        kind: "__ServiceMonitorEndpoint"
        api_family: "monitoring.coreos.com"
