---
kind: "ServiceAccount"
default_command: "serviceaccounts"
command:
  - "sa"
listview:
  name: "Service Accounts"
  group: "Authorization & Access Control"
  field_indexes:
    Wide:
      fields: ["namespace", "name", "controller", "automount", "age"]
      sortcolumn: "namespace"
    Normal:
      fields: ["namespace", "name", "automount", "age"]
      sortcolumn: "namespace"
  fields:
    automount:
      header: "Automount:"
      path: "automountServiceAccountToken"
      default: false
      type: "bool"
    {%- for line in field_controller.split("\n") %}
    {{ line }}
    {%- endfor %}
  actions:
    actionlist:
      "Delete resource":
        description: "Delete resource"
        category: "Resource Level"
        confirm: true
        actionfunc: "delete_resource"
infoview:
  name: "Service Account Info"
  infopad:
    row_indexes:
      Normal:
        fields: ["controller", "automount"]
    rows:
      automount:
        header: [["Automount Service Account Token:",
                  ["main", "infoheader"]]]
        path: "automountServiceAccountToken"
        default: false
        type: "bool"
      {%- for line in row_controller.split("\n") %}
      {{ line }}
      {%- endfor %}
  listpad:
    listgetter: "listgetter_path"
    listgetter_args:
      path: ""
    infogetter: "get_sas_info"
    on_activation:
      call: "resourceinfodispatch_with_lookup"
      kind_path: "kind"
      api_version_path: "apiVersion"
      name_path: "metadata#name"
      namespace_path: "metadata#namespace"
    field_indexes:
      Normal:
        fields: ["namespace", "name", "kind", "type"]
        sortcolumn: "type"
    fields:
      kind:
        header: "Kind:"
        formatter: "list"
        formatting:
          field_colors:
            - type: "kind"
            - type: "api_group"
          field_separators:
            - type: "kind_api_group"
      type:
        header: "Type:"
        path: "type"
        default: "<unset>"
        type: "str"
  shortcuts:
    {%- for line in shortcut_controller.split("\n") %}
    {{ line }}
    {%- endfor %}
