---
kind: "TdxQuoteGenerationService"
api_family: "trustedservices.intel.com"
default_command: "tdxquotegenerationservices"
command:
  - "tdxquotegensvcs"
  - "tdxquotegensvc"
listview:
  name: "TDX Quote Generation Services"
  group: "Confidential Compute"
  field_indexes:
    Normal:
      fields: ["name", "condition_ready", "age"]
  fields:
    {%- for line in field_condition_ready.split("\n") %}
    {{ line }}
    {%- endfor %}
infoview:
  name: "TDX Quote Generation Service Info"
  infopad:
    row_indexes:
      Normal:
        fields: ["daemon_set",
                 "node_label_selector",
                 "platform_registration_header",
                 "platform_registration_deployment",
                 "platform_registration_deployment_ready",
                 "platform_registration_online_header",
                 "platform_registration_online_api_key_secret",
                 "replicas", "condition_ready"]
    rows:
      {%- for line in row_condition_ready.split("\n") %}
      {{ line }}
      {%- endfor %}
      daemon_set:
        header: [["D", ["main", "infoheader_shortcut"]],
                 ["aemon Set:", ["main", "infoheader"]]]
        path: "status#daemonsetName"
        default: "<unset>"
        type: "str"
      node_label_selector:
        header: [["Node La", ["main", "infoheader"]],
                 ["b", ["main", "infoheader_shortcut"]],
                 ["el Selector:", ["main", "infoheader"]]]
        path: "spec#nodeSelector"
        default: ["<none>"]
        type: "raw"
        formatter: "list"
        formatting:
          field_colors:
            - type: "key"
      platform_registration_deployment:
        header: [["  De", ["main", "infoheader"]],
                 ["p", ["main", "infoheader_shortcut"]],
                 ["loyment:", ["main", "infoheader"]]]
        path: "status#registrationDeploymentName"
        default: "<unset>"
        type: "str"
      platform_registration_deployment_ready:
        header: [["  Ready:", ["main", "infoheader"]]]
        path: "status#registrationDeploymentReady"
        default: "<unset>"
        type: "bool"
        formatter: "value_mapper"
        formatting:
          mapping:
            mappings:
              "False":
                field_colors:
                  - context: "main"
                    type: "status_pending"
              "True":
                field_colors:
                  - context: "main"
                    type: "status_ok"
      platform_registration_header:
        header: [["Platform Registration:", ["main", "infoheader"]]]
      platform_registration_online_header:
        header: [["  Online:", ["main", "infoheader"]]]
      platform_registration_online_api_key_secret:
        header: [["    API-key ", ["main", "infoheader"]],
                 ["S", ["main", "infoheader_shortcut"]],
                 ["ecret:", ["main", "infoheader"]]]
        path: "spec#platformRegistration#Online#apiKeySecretName"
        default: "<unset>"
        type: "str"
      replicas:
        header: [["Replicas:", ["main", "infoheader"]]]
        paths:
          - path: [["status#desiredNumberScheduled"], " Desired",
                   ["status#currentNumberScheduled"], " Current",
                   ["status#numberReady"], " Ready"]
            pathtype: "tuple"
            default: [0, "", 0, "", 0, ""]
        formatter: "list"
        formatting:
          field_colors:
            - type: "numerical"
            - type: "generic"
            - type: "numerical"
            - type: "generic"
            - type: "numerical"
            - type: "generic"
            - type: "numerical"
            - type: "generic"
          field_separators:
            - type: "no_pad"
            - type: "fraction_spaced"
            - type: "no_pad"
            - type: "fraction_spaced"
            - type: "no_pad"
            - type: "fraction_spaced"
            - type: "no_pad"
  shortcuts:
    "Node Label Selector":
      key: "b"
      read_only: true
      helptext: "Show Node label selector"
      widget: "windowwidget"
      widget_args:
        title: "Node Label Selector:"
        itemgetter: "get_list_as_list"
        itemgetter_args:
          path: "spec#nodeSelector"
    "Open DaemonSet":
      key: "d"
      modifier: "shift"
      read_only: true
      helptext: "Open info page for DaemonSet"
      action: "call"
      action_call: "resourceinfodispatch_with_lookup"
      action_args:
        _pass_obj: true
        kind: "DaemonSet"
        api_family: "apps"
        name_path: "status#daemonsetName"
        # There doesn't seem to be a better way to get this
        namespace: "intel-dcap-operator-system"
    "Open Deployment":
      key: "p"
      read_only: true
      helptext: "Open info page for registration Deployment"
      action: "call"
      action_call: "resourceinfodispatch_with_lookup"
      action_args:
        _pass_obj: true
        kind: "Deployment"
        api_family: "apps"
        name_path: "status#registrationDeploymentName"
        # There doesn't seem to be a better way to get this
        namespace: "intel-dcap-operator-system"
    "Open API-key Secret":
      key: "s"
      modifier: "shift"
      read_only: true
      helptext: "Open info page for API-key Secret"
      action: "call"
      action_call: "resourceinfodispatch_with_lookup"
      action_args:
        _pass_obj: true
        kind: "Secret"
        name_path: "spec#platformRegistration#Online#apiKeySecretName"
        # There doesn't seem to be a better way to get this
        namespace: "intel-dcap-operator-system"
