---
kind: "Topology"
api_family: "kai.scheduler"
default_command: "topologies.kai.scheduler"
command:
  - "topologies.kai"
  - "topology.kai"
listview:
  name: "Topologies"
  group: "Scheduling & Scaling"
  field_indexes:
    Normal:
      fields: ["name", "age"]
infoview:
  name: "Topology Info"
  infopad:
  listpad:
    listgetter: "listgetter_path"
    listgetter_args:
      path: "spec#levels"
      enumeration: "standard"
      hierarchical: true
    infogetter: "generic_infogetter"
    field_indexes:
      Normal:
        fields: ["topology", "node_label"]
        sortcolumn: "topology"
    reversible: false
    sortable: false
    fields:
      node_label:
        header: "Node Label:"
        paths:
          - path: [["_extra_data#prefix"], ["nodeLabel"]]
            pathtype: "tuple"
            default: ["<unset>"]
        formatter: "list"
        formatting:
          field_separators:
            - type: "no_pad"
      topology:
        header: "Topology:"
        path: "_extra_data#enumeration"
        type: "int"
        formatter: "numerical"
        align: "right"
