---
kind: "{{ kind }}"
api_family: "{{ api_family }}"
default_command: "{{ name }}"
# command:
#   - "FIXME"
listview:
  name: "{{ listview_name }}"
  group: "FIXME"
  field_indexes:
    Normal:
      fields: ["namespace", "name", "age"]
# fields:
infoview:
  name: "{{ infoview_name }}"
  infopad:
#   row_indexes:
#     Normal:
#       fields: ["FIXME"]
#   rows:
#     FIXME:
#       header: [["FIXME:", ["main", "infoheader"]]]
