{% for minor_version in minor_versions %}
Types: deb
URIs: https://pkgs.k8s.io/core:/stable:/v1.{{ minor_version }}/deb/
Suites: /
Components:
Signed-By: /etc/apt/keyrings/kubernetes-apt-keyring.asc
{% endfor %}
