---
# yamllint disable rule:line-length
- name: "Tear down container network interfaces (CNI)"
  hosts: "selection"
  vars:
    metadata:
      description: "Tear down container network interfaces (CNI)"
      summary:
        "Deleted directories":
          - description: "/etc/cni"
          - description: "/etc/origin/openvswitch"
          - description: "/etc/origin/ovn"
          - description: "/var/lib/cni"
          - description: "/var/lib/weave"
          - description: "/var/log/openvswitch"
          - description: "/var/log/ovn"
          - description: "/var/run/openvswitch"
          - description: "/var/run/ovn"
        "Deleted files":
          - description: "/etc/cni/*"
          - description: "/etc/origin/openvswitch/*"
          - description: "/etc/origin/ovn/*"
          - description: "/var/lib/cni/*"
          - description: "/var/lib/weave/*"
          - description: "/var/log/openvswitch/*"
          - description: "/var/log/ovn/*"
          - description: "/var/run/openvswitch/*"
          - description: "/var/run/ovn/*"
        "Other actions":
          - description: "Deletes all CNI-related network interfaces"
          - description: "Kills the weaver process"
          - description: "Deletes iptable rules"
      playbook_types:
        - "internal"
      category: "Administration"
  gather_facts: false
  become: true
  become_user: "root"
  tasks:
    - name: "Tearing down container network interfaces"
      ansible.builtin.shell:
        executable: "/bin/bash"
        cmd: |
          set -o pipefail
          # This looks a bit messy, but it minimises code repeat
          matches=\
          "^antrea|^genev|"\
          "^cali|^tunl0:|"\
          "^cilium|^lxc|"\
          "^flannel|^cni0|"\
          "^veth|"\
          "^kube-bridge|"\
          "^datapath|^vxlan|^\s*weave"
          # While we still get code duplication of the loop statement,
          # we avoid evaluating the conditional for every iteration
          if $( command -v ip > /dev/null ); then
            for network in $(grep -E ${matches} /proc/net/dev | cut -f 1 -d:); do
              ip link set dev "${network}" down || true
              ip link delete "${network}" || true
            done
          else
            for network in $(grep -E ${matches} /proc/net/dev | cut -f 1 -d:); do
              ifconfig "${network}" down || true
            done
          fi
          killall -q weaver || true
      changed_when: false
    - name: "Removing leftover network configuration and binaries"
      ansible.builtin.shell:
        executable: "/bin/bash"
        cmd: |
          set -o pipefail
          # While we used a list of interfaces to delete above to avoid
          # code repeat, that should not be done here, for the simple
          # reason that a minor mistake when we delete files is permanent;
          # deleted interfaces can be recreated.
          rm -rf /etc/cni/* /var/lib/cni /var/lib/weave
          rm -f /opt/cni/bin/antrea
          rm -f /opt/cni/bin/calico
          rm -f /opt/cni/bin/calico-ipam
          rm -f /opt/cni/bin/cilium-cni
          rm -f /opt/cni/bin/flannel
          rm -f /opt/cni/bin/weave
          iptables -F
          iptables -t nat -F
          iptables -t mangle -F
          iptables -X
      changed_when: false
